header
  color: $turquoise
  text-transform: uppercase
  font:
    size: 24px
    weight: 700
  a
    font-size: 30px
    margin: 0 10px
    +turquoise-link
table
  +outer-container(75%)
  background: lighten($black, 5%)
  color: $white
  thead
    tr
      th
        background: $black
        text-align: center
        color: $turquoise
  @media(max-width: 880px)
    +outer-container(100%)
    th
      overflow: hidden
      text-overflow: ellipsis
      -o-text-overflow: ellipsis
      white-space: nowrap
      width: 100%
  tbody
    tr
      td
        border: 1px solid $turquoise
        overflow: hidden
        text-overflow: ellipsis
        -o-text-overflow: ellipsis
        white-space: nowrap
        width: 100%
