.home-wrapper
  +display(flex)
  +justify-content(center)
  +align-items(center)
  background: $black
  height: 100vh
  .home-content
    text-align: center

    h1
      color: $turquoise
      text-transform: uppercase
      font-size: 80px
      letter-spacing: .1em
      line-height: 1
      margin-bottom: 10px
      padding: 0
      @media(max-width: 770px)
        font-size: 40px
    p
      color: $white
      font:
        size: 24px
        weight: 700
      margin-bottom: 50px

    .home-btn
      background: $turquoise
      padding: 10px 20px
      +turquoise-link
